<%- include("partials/header") -%>

<h1 class="font-headings">Compose</h1>

<form class="" action="/compose" method="post">

  <div class="form-group">
    <label class="font-para">Title</label>
    <br>
    <input class="form-control" type="text" name="postTitle" value="">
    <br>
    <label class="font-para">Post</label>
    <br>
    <textarea class="form-control" name="postBody" rows="5" cols="100"></textarea>
    <br>
    <button type="submit" name="button" class="publish-btn">Publish</button>
  </div>


</form>
